<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Document Image Processor</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/axios@0.26.1/dist/axios.min.js"></script>
    <script src="{{ url_for('static', filename='js/enhanceImage.js') }}" defer></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <!-- navigation bar start -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="{{ url_for('static', filename='outline_document_scanner_black_48dp.png') }}" alt="" width="30"
                    height="30" class="d-inline-block align-text-top">
                Document Image Processor
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/preprocessing">Image Preprocessing</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Image Enhancement</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/ocr">OCR</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- navigation bar end -->

    <!-- main content start -->
    <div>
        <div class="row m-3 justify-content-between">
            <div class="col-12 col-xl-4">
                <p class="text-center">Input Image <em>(Size Limit: 5MB)</em></p>
                <div class="row mx-auto justify-content-center align-items-center">
                    <form id="upload_form" class="col-auto">
                        <input class="form-control" type="file" name="image" id="formFile">
                    </form>
                    <div class="col-auto">
                    </div>
                </div>
                <div class="my-3 mx-auto">
                    <img id="input_image" class="img-fluid mx-auto d-block" alt="" src="{{ image_url }}">
                </div>
            </div>
            <div class="col-12 col-xl-4">
                <p class="text-center">Enhancement Method</p>
                <ul class="nav nav-pills justify-content-center" id="myTab" role="tablist">
                    <li class="nav-item dropdown" role="presentation">
                        <a class="btn btn-light dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                            aria-expanded="false">Select Method</a>
                        <ul class="dropdown-menu dropdown-menu-center">
                            <li><button class="nav-link mx-auto" id="contrast-tab" data-bs-toggle="tab"
                                    data-bs-target="#contrast-tab-pane" type="button" role="tab">Contrast</button></li>
                            <li><button class="nav-link mx-auto" id="grayscale-tab" data-bs-toggle="tab"
                                    data-bs-target="#grayscale-tab-pane" type="button" role="tab">Grayscale</button>
                            </li>
                            <li><button class="nav-link mx-auto" id="gamma-tab" data-bs-toggle="tab"
                                    data-bs-target="#gamma-tab-pane" type="button" role="tab">Gamma</button>
                            </li>
                            <li><button class="nav-link mx-auto" id="top-hat-tab" data-bs-toggle="tab"
                                    data-bs-target="#top-hat-tab-pane" type="button" role="tab">Top-Hat</button></li>
                            <li><button class="nav-link mx-auto" id="colorbalance-tab" data-bs-toggle="tab"
                                    data-bs-target="#colorbalance-tab-pane" type="button" role="tab">Color
                                    Balance</button></li>
                            <li><button class="nav-link mx-auto" id="shadowremove-tab" data-bs-toggle="tab"
                                    data-bs-target="#shadowremove-tab-pane" type="button" role="tab">Shadow
                                    Removal</button></li>
                        </ul>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">

                    <div class="tab-pane fade m-3 bordered" id="contrast-tab-pane" role="tabpanel" tabindex="0">
                        <p class="text-center m-3">Adjust contrast and brightness on the image.</p>
                        <p class="text-center m-3">output = input * Multiplier + Shift</p>
                        <form id="contrast_options">
                            <div class="row mx-auto justify-content-center align-items-center">
                                <div class="input-group mb-3 col-auto">
                                    <span class="input-group-text">Multiplier</span>
                                    <input type="number" class="form-control" name="multiplier" value=1.5>
                                </div>
                            </div>
                            <div class="row mx-auto justify-content-center align-items-center">
                                <div class="input-group mb-3 col-auto">
                                    <span class="input-group-text">Shift</span>
                                    <input type="number" class="form-control" name="shift" value=-50>
                                </div>
                            </div>
                        </form>
                        <div class="row mx-auto justify-content-center align-items-center">
                            <div class="col-auto mb-3">
                                <button id="contrast_button" class="btn btn-primary">
                                    <span id="contrast_spinner" class="spinner-border spinner-border-sm d-none"
                                        role="status" aria-hidden="true"></span>
                                    Apply
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade m-3 bordered" id="grayscale-tab-pane" role="tabpanel" tabindex="0">
                        <p class="text-center m-3">Turn the image to grayscale.</p>
                        <form id="grayscale_options">
                        </form>
                        <div class="row mx-auto justify-content-center align-items-center">
                            <div class="col-auto mb-3">
                                <button id="grayscale_button" class="btn btn-primary">
                                    <span id="grayscale_spinner" class="spinner-border spinner-border-sm d-none"
                                        role="status" aria-hidden="true"></span>
                                    Apply
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade m-3 bordered" id="gamma-tab-pane" role="tabpanel" tabindex="0">
                        <p class="text-center m-3">Perform gamma correction on the image.</p>
                        <p class="text-center m-3">output = (input * gain) ** gamma</p>
                        <form id="gamma_options">
                            <div class="row mx-auto justify-content-center align-items-center">
                                <div class="input-group mb-3 col-auto">
                                    <span class="input-group-text">gain</span>
                                    <input type="number" class="form-control" name="gain" value=1>
                                </div>
                            </div>
                            <div class="row mx-auto justify-content-center align-items-center">
                                <div class="input-group mb-3 col-auto">
                                    <span class="input-group-text">gamma</span>
                                    <input type="number" class="form-control" name="gamma" value=2>
                                </div>
                            </div>
                        </form>
                        <div class="row mx-auto justify-content-center align-items-center">
                            <div class="col-auto mb-3">
                                <button id="gamma_button" class="btn btn-primary">
                                    <span id="gamma_spinner" class="spinner-border spinner-border-sm d-none"
                                        role="status" aria-hidden="true"></span>
                                    Apply
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade m-3 bordered" id="top-hat-tab-pane" role="tabpanel" tabindex="0">
                        <p class="text-center m-3">Perform Top-Hat filtering on the image.</p>
                        <form id="tophat_options">
                            <div class="row mx-auto justify-content-center align-items-center">
                                <div class="input-group mb-3 col-auto">
                                    <span class="input-group-text">Kernel Size</span>
                                    <input type="number" class="form-control" name="kernel_size" value=21>
                                </div>
                            </div>
                        </form>
                        <div class="row mx-auto justify-content-center align-items-center">
                            <div class="col-auto mb-3">
                                <button id="tophat_button" class="btn btn-primary">
                                    <span id="tophat_spinner" class="spinner-border spinner-border-sm d-none"
                                        role="status" aria-hidden="true"></span>
                                    Apply
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade m-3 bordered" id="colorbalance-tab-pane" role="tabpanel" tabindex="0">
                        <p class="text-center m-3">Perform color-balancing on the image.</p>
                        <form id="colorbalance_options">
                            <div class="row mx-auto justify-content-center align-items-center">
                                <div class="input-group mb-3 col-auto">
                                    <span class="input-group-text">percent</span>
                                    <input type="number" class="form-control" name="percent" value=1>
                                </div>
                            </div>
                        </form>
                        <div class="row mx-auto justify-content-center align-items-center">
                            <div class="col-auto mb-3">
                                <button id="colorbalance_button" class="btn btn-primary">
                                    <span id="colorbalance_spinner" class="spinner-border spinner-border-sm d-none"
                                        role="status" aria-hidden="true"></span>
                                    Apply
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade m-3 bordered" id="shadowremove-tab-pane" role="tabpanel" tabindex="0">
                        <p class="text-center m-3">Perform shadow removal on the image.</p>
                        <form id="shadowremove_options">
                            <div class="row mx-auto justify-content-center align-items-center">
                                <div class="input-group mb-3 col-auto">
                                    <span class="input-group-text">Number of Iterations</span>
                                    <input type="number" class="form-control" id="shadowremove_n_iter" value=1>
                                </div>
                            </div>
                        </form>
                        <p class="text-center m-3 text-danger">Warning!<br>1 iteration need 30
                            seconds, and the result will update at each iteration.
                        </p>
                        <div class="row mx-auto justify-content-center align-items-center">
                            <div class="col-auto mb-3">
                                <button id="shadowremove_button" class="btn btn-primary">
                                    <span id="shadowremove_spinner" class="spinner-border spinner-border-sm d-none"
                                        role="status" aria-hidden="true"></span>
                                    Apply
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-xl-4">
                <p class="text-center">Result Image</p>
                <div class="row mx-auto justify-content-center align-items-center">
                    <div class="col-auto">
                        <button id="revert" class="btn btn-danger" disabled>
                            Revert
                        </button>
                    </div>
                    <div class="col-auto">
                        <button id="download" class="btn btn-primary">download</button>
                    </div>
                    <div class="col-auto">
                        <button id="next_step" class="btn btn-secondary">Use this image to proceed</button>
                    </div>
                </div>
                <div class="my-3 mx-auto">
                    <img id="result_image" class="img-fluid mx-auto d-block" alt="" src="{{ image_url }}">
                </div>
            </div>
        </div>
    </div>


    <!-- main content end -->
</body>

</html>