<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Document Image Processor</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/axios@0.26.1/dist/axios.min.js"></script>
    <script src="{{ url_for('static', filename='js/uploadImage.js') }}" defer></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>
    <!-- navigation bar start -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="{{ url_for('static', filename='outline_document_scanner_black_48dp.png') }}" alt="" width="30"
                    height="30" class="d-inline-block align-text-top">
                Document Image Processor
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Image Preprocessing</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/enhancement">Image Enhancement</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/ocr">OCR</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- navigation bar end -->

    <!-- main content start -->
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane"
                type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Home</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="output-tab" data-bs-toggle="tab" data-bs-target="#output-tab-pane"
                type="button" role="tab" aria-controls="output-tab-pane" aria-selected="false" disabled>output</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="result-tab" data-bs-toggle="tab" data-bs-target="#result-tab-pane"
                type="button" role="tab" aria-controls="result-tab-pane" aria-selected="false" disabled>result</button>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab"
            tabindex="0">
            <div class="my-3">
                <p class="text-center">
                    Upload an image to start <em>(Size Limit: 5MB)</em>
                </p>
                <div class="row mx-auto justify-content-center align-items-center">
                    <div class="col-auto">
                        <input class="form-control" type="file" name="image" id="formFile">
                    </div>
                    <div class="col-auto">
                        <select class="form-select" name="size" id="formSize">
                            <option value="A4" selected>A4</option>
                            <option value="A5">A5</option>
                            <option value="B4">B4</option>
                            <option value="B5">B5</option>
                            <option value="3_4">3:4</option>
                            <option value="9_16">16:9</option>
                        </select>
                    </div>
                    <div class="col-auto">
                        <button id="upload_button" class="btn btn-primary">
                            <span id="upload_spinner" class="spinner-border spinner-border-sm d-none" role="status"
                                aria-hidden="true"></span>
                            Upload
                        </button>
                    </div>
                </div>
            </div>
            <div class="my-3 mx-auto w-25">
                <img id="input_image" class="img-fluid mx-auto d-block d-none" alt="No Image">
            </div>
        </div>

        <div class="tab-pane fade" id="output-tab-pane" role="tabpanel" aria-labelledby="output-tab" tabindex="0">
            <div class="my-3 mx-auto w-75">
                <img id="output_image" class="img-fluid mx-auto d-block" alt="No image">
            </div>
        </div>
        <div class="tab-pane fade" id="result-tab-pane" role="tabpanel" aria-labelledby="result-tab" tabindex="0">
            <div class="my-3 mx-auto w-25">
                <img id="result_image" class="img-fluid mx-auto d-block" alt="No image">
                <p class="text-center" id="linkText"></p>
                <div class="row mx-auto justify-content-center align-items-center">
                    <div class="col-auto">
                        <button id="download" class="my-3 btn btn-primary">download</button>
                    </div>
                    <div class="col-auto">
                        <button id="next_step" class="my-3 btn btn-secondary">Use this image to proceed</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- main content end -->
</body>

</html>